extends layout

block header
  form(method='post' action='/build')
    input(type='hidden' name='libs' value=Object.keys(libs).toString())
    button(type='submit') Build

block content
  div#libs
    each val, lib in libs
      div.lib(id=lib)
        if !config.develop
          link(rel='stylesheet' href=val.css)
        h1.lib__header= lib
        div.lib__demo
          h1.lib__header Demo
          div(class=lib)
            != val.demo
        div.lib__docs
          h1.lib__header Docs
          != val.docs
        if val.test
          div.lib__test
            h1.lib__header Test
            div(class=lib)
              != val.test
        script(src=val.js)
